/* 
    Created on : 5 Jan, 2015, 3:54:09 PM
    Author     : subin
*/
html, body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
form { 
    margin: 0.5em; 
}
.clear {
    clear: both;
}
.left {
    float: left;
    height: 3rem;
    line-height: 3rem;                
}
.right {
    float: right;
}
h2.bb-docs {
    font-family: sans-serif;
    padding: 0.4rem 0.5rem;
    margin: -0.1rem 0 0;
    border: solid 0.1rem #e8e8e8;
    color: #666;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: #fff;
}
label.error {
    color: #b60303;
    float: right;
    font-size: 0.8em;
}
